.imageGallery {
    padding: 36px 0 16px;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.imageGalleryList {
    /* display: flex;
    flex-wrap: wrap;
    gap: 16px; */
    /* column-gap: 16px; */
    columns: 3;
    column-gap: 16px;
}

.imageGalleryItem {
    /* width: calc((100% - 3 * 16px) / 4); */
}